@import "~bootstrap/scss/bootstrap";
@import "variables.scss";

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $beige1;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  height: 100vh; /* Pour occuper 100% de la hauteur de la fenêtre */
}

.header {
  //background-color: green;
  background: linear-gradient(to left bottom, $beige3, $beige1);
  background: -webkit-linear-gradient(to left bottom, $beige3, $beige1);
  padding: 20px;
  flex: 0 0 auto; /* Le header ne doit pas être flexible en hauteur */
  overflow-y: auto; /* Permet le défilement vertical si le contenu est plus grand que la hauteur de la fenêtre */
}

.body-content {
  display: flex;
  flex: 1;
  flex-direction: column; /* Organiser le contenu de body-content en colonnes */
  //overflow-y: auto; /* Permet le défilement vertical si le contenu est plus grand que la hauteur de la fenêtre */
}

.main-content {
  //flex: 1;
  padding: 20px;
}

.footer {
  background-color: $beige1;
  box-shadow: 0px 5px 15px $beige3; /* Décalage horizontal, décalage vertical, flou, couleur de l'ombre */
  padding: 10px;
  text-align: center;
  margin-top: auto; /* Pour pousser le footer vers le bas de la page */
}
